@import 'mixins.scss';

.instagram {
  padding: 6rem 0 10rem;
  background-color: #fff;
  color: #08142d;
  overflow: hidden;
  position: relative;
  @include mobile {
    padding: 6.7rem 0 5.3rem;
  }
}