@use "src/styles/mixins.scss";

.work {
  background-color: #fff;
  color: #08142d;
  .mainText {
    padding: 4rem 0 11rem;
    position: relative;
    overflow: hidden;
    @include mixins.tablet {
      padding: 2rem 0 3.4rem;
    }
    .lead {
      margin: 0 0 1rem;
      font-size: 1.25rem;
      font-weight: 400;
      text-transform: uppercase;
      @include mixins.mobile {
        font-size: 0.8rem;
      }
    }
    .description {
      margin: 0;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.25;
      max-width: 800px;
      @include mixins.mobile {
        font-size: 1.375rem;
      }
      br {
        @include mixins.smallPhone {
          display: none;
        }
      }
    }
  }
  .portfolioHighlights {
    margin: 0;
    padding: 0 6rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    @include mixins.smallDesktop {
      padding: 0 0 4rem;
    }
    .workItem {
      height: 480px;
      width: 850px;
      opacity: 0;
      transform: translateY(50px) scale(0.9);
      transition: all 0.7s cubic-bezier(0, 0, 0.2, 1);
      &.visible {
        opacity: 1;
        transform: translateY(0) translateZ(0) scale(1);
      }
      @include mixins.tablet {
        width: 100%;
        height: 58vw;
      }
      &:nth-child(2n-1) {
        align-self: flex-end;
        .text {
          left: -7.5rem;
          @include mixins.smallDesktop {
            left: -2.5rem;
          }
          @include mixins.tablet {
            left: 0.7rem;
            right: auto;
          }
        }
      }
      &:nth-child(2n) {
        .text {
          right: -7.5rem;
          @include mixins.smallDesktop {
            right: -2.5rem;
          }
          @include mixins.tablet {
            left: 0.7rem;
            right: auto;
          }
        }
      }
      & + li {
        margin-top: 10rem;
        @include mixins.mobile {
          margin-top: 7rem;
        }
      }
      &:last-child {
        margin-bottom: 7.5rem;
        @include mixins.mobile {
          margin-bottom: 3.5rem;
        }
      }
    }
    a {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      cursor: none;
      @media (pointer: coarse) {
        cursor: default;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .text {
        position: absolute;
        bottom: 3.5rem;
        background-color: #fff;
        color: #08142d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 457px;
        height: 136px;
        border-radius: 68px;
        box-shadow: 9px 15px 30px 0px #08142d1a;
        padding: 0 122px 0 46px;
        box-sizing: border-box;
        @include mixins.tablet {
          height: 78px;
          border-radius: 39px;
          padding: 0 65px 0 23px;
          bottom: -3rem;
          width: 265px;
        }
        .name {
          font-size: 1.375rem;
          font-weight: 700;
          line-height: 1.25;
          margin: 0;
          text-transform: uppercase;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          @include mixins.tablet {
            font-size: 0.8rem;
          }
        }
        .tags {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.66;
          margin: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          @include mixins.tablet {
            font-size: 0.6rem;
          }
        }
        .arrow {
          height: 46px;
          width: 46px;
          position: absolute;
          top: 50%;
          right: 38px;
          transform: translate(0%, -50%);
          @include mixins.tablet {
            height: 27px;
            width: 27px;
            right: 18px;
          }
        }
      }
    }
  }
  .cta {
    padding-bottom: 7.8rem;
    display: flex;
    justify-content: flex-end;
    @include mixins.tablet {
      padding-bottom: 4rem;
    }
  }
}
