@import "src/styles/mixins.scss";

.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  font-size: 0.875rem;
  text-transform: uppercase;
  white-space: nowrap;
  @include mobile {
    font-size: 0.75rem;
  }
  .arrow{
    display: inline-block;
    width: 46px;
    vertical-align: middle;
  } 
}
