@import 'mixins.scss';

.welcome {
  margin-top: 100vh;
  text-align: center;
  padding-top: 5.125rem;
  background-color: #08142d;
  @media (orientation: portrait) {
    margin-top: 100vw;
  }
  @include mobile {
    padding-top: 3rem;
  }
  .wrapper {
    padding: 0 1rem;
  }

  :global(.subtitle) {
    @include mobile {
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  :global(.description) {
    @include mobile {
      max-width: 255px;
      margin-left: auto;
      margin-right: auto;
      br:last-of-type {
        display: none;
      }
    }
  }

  .lead {
    font-weight: bold;
    font-size: 1.5625rem;
    line-height: 1.2;
    margin: 2.375rem;
  }
  .canvasWrapper {
    height: 25vw;
    position: relative;
    overflow: hidden;
    width: 100%;
    .canvas {
      position: absolute;
      left: 0;
      top: 75%;
      transform: translateY(-50%);
      display: block;
    }
  }
  :global(.cta) {
    width: 220px;
    padding-left: 0;
    padding-right: 0;
    @include mobile {
      display: block;
      margin: 0 auto;
    }
    & + :global(.cta) {
      margin-left: 2em;
      @include mobile {
        margin-left: auto;
        margin-top: 2em;
      }
    }
  }
}
