.welcome {
  margin-top: 100vh;
  text-align: center;
  // padding: 5.125rem 1rem 17.375rem;
  padding: 5.125rem 1rem 16vw;
  background-color: #08142d;
  position: relative;
  z-index: 1;
  .lead {
    font-weight: bold;
    font-size: 1.5625rem;
    line-height: 1.2;
    margin: 2.375rem;
  }
  .canvasWrapper {
    height: 15vw;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    .canvas {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
    }
  }
}
