.welcome {
  margin-top: 100vh;
  text-align: center;
  padding-top: 5.125rem;
  background-color: #08142d;
  position: relative;
  z-index: 1;
  @media (orientation: portrait) {
    margin-top: 100vw;
  }
  .wrapper {
    padding: 0 1rem
  }
  .lead {
    font-weight: bold;
    font-size: 1.5625rem;
    line-height: 1.2;
    margin: 2.375rem;
  }
  .canvasWrapper {
    height: 25vw;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 5rem 0;
    .canvas {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
    }
  }
}
