@import 'mixins.scss';

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #08142d;
  color: #ffffff;
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

.wrapper {
  max-width: 1535px;
  width: 100%;
  padding: 0 5rem;
  margin: 0 auto;
  box-sizing: border-box;
  @include tablet {
    padding: 0 2rem;
  }
  @include mobile {
    padding: 0 1rem;
  }
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
  & > * > * {
    height: 100%;
  }
}
