.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 2.375rem;
  font-size: 1rem;
  .socialItem {
    padding: 0 12px;
    .socialIcon {
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 3px solid #2a34ff;
      text-align: center;
      box-sizing: border-box;
      border-radius: 50%;
      line-height: 31px;
      text-decoration: none;
      color: #2a34ff;
      &:hover,
      &:focus {
        transition: background-color 0.2s linear, color 0.2s linear;
        background-color: #2a34ff;
        color: #e4f9fe;
      }
      &:focus {
        outline: none;
      }
      &.inverted {
        border: 3px solid #e4f9fe;
        color: #e4f9fe;
        &:hover,
        &:focus {
          background-color: #e4f9fe;
          color: #2a34ff;
        }
      }
    }
  }
}
