@import "src/styles/mixins.scss";

.services {
  background: linear-gradient(180deg, #2a34ff -34.16%, #08142d 87.22%);
  padding: 8.5rem 0 9.5rem;
  .lead {
    margin: 0 0 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    @include mobile {
      font-size: 0.9rem;
    }
  }
  .description {
    margin: 0 0 7rem;
    max-width: 1250px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.25;
    max-width: 620px;
    @include mobile {
      font-size: 2rem;
      margin-bottom: 5rem;
    }
  }
  .servicesList {
    .service {
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }
  }
}
