.content {
  background-color: #fff;
  padding: 14rem 0 7.5rem;
  color: #08142d;
}

.lead {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.caption {
  font-size: 3.75rem;
  font-weight: 800;
  color: #2a34ff;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.filters {
  margin-top: 8rem;
  margin-bottom: 4rem;
  border-bottom: 3px solid #08142d;
  .toggle {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: #2a34ff;
    font-weight: 700;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-self: center;
    &::after {
      content: '';
      display: inline-block;
      background-image: url('../assets/down.svg');
      background-size: contain;
      height: 15px;
      width: 10px;
      margin-left: 0.5rem;
    }
    &.visible {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  .tags {
    padding: 0;
    &.visible {
      border-top: 3px solid #08142d;
    }
    .tag {
      display: none;
      padding: 1rem 2rem 0 0;
      &.visible {
        display: inline-block;
      }
    }
    .tagButton {
      display: flex;
      align-items: center;
      background-color: transparent;
      padding: 0;
      border: none;
      font-size: 0.875rem;
      position: relative;
      cursor: pointer;
      &:before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 1px solid #08142d;
        margin-right: 0.7rem;
        flex-shrink: 0;
      }
      &.selected {
        &:after {
          position: absolute;
          content: '';
          width: 15px;
          height: 15px;
          border-radius: 50%;
          left: 5px;
          background: conic-gradient(
            from 137.73deg at 50% 50%,
            #fe00ae 0deg,
            #2a34ff 360deg
          );
        }
      }
    }
  }
  .resetWrapper {
    display: flex;
    justify-content: end;
  }
  .reset {
    background-color: transparent;
    padding: 0.5rem 0;
    border: none;
    color: #2a34ff;
    font-size: 0.8125rem;
    cursor: pointer;
  }
}

.articles {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  gap: 4rem;
  .article {
    width: calc(50% - 2rem);
    position: relative;
    padding-bottom: 2.5rem;
  }
  .link {
    color: inherit;
    text-decoration: none;
  }
  .imageWrapper {
    position: relative;
    margin-bottom: 1.5rem;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(8, 20, 45, 0) 0%,
        rgba(8, 20, 45, 0.6) 66.93%
      );
    }
  }
  .image {
    width: 100%;
    aspect-ratio: 1.755;
    vertical-align: top;
  }
  .author {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 1.5rem;
    left: 1.5rem;
    .avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
    .authorInfo {
      font-size: 0.7rem;
      padding-left: 0.5rem;
      color: #fff;
    }
  }
  .date {
    text-transform: uppercase;
    color: #08142d80;
    font-size: 0.7rem;
    margin: 0;
  }
  .title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0.5rem 0;
  }
  .teaser {
    font-size: 0.8125rem;
    line-height: 1.8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin: 0 0 1rem;
  }
  .tag {
    display: inline-block;
    background-color: #08142d0d;
    color: #2a34ff;
    font-size: 0.65rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
    margin: 0 0.3rem 0.5rem 0;
  }
  .readMore {
    border-top: 3px solid #08142d;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    padding-top: 0.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
