@import 'mixins.scss';

.intro {
  background: linear-gradient(180deg, #2a34ff -47.82%, #08142d 100%);
  padding: 14rem 0 11rem;
  position: relative;
  @include mobile {
    padding: 7rem 0 3rem;
  }
  .text {
    position: relative;
    z-index: 1;
    .lead {
      margin: 0 0 1rem;
      font-size: 1.25rem;
      font-weight: 400;
      text-transform: uppercase;
      @include mobile {
        font-size: 0.7rem;
      }
    }
    .description {
      margin: 0;
      font-size: 3.75rem;
      font-weight: 600;
      line-height: 1.25;
      @include mobile {
        font-size: 1.25rem;
      }
    }
  }
  .ball {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
      225deg,
      rgba(42, 52, 255, 1) 0%,
      rgba(8, 20, 45, 1) 100%
    );
    &.ball1 {
      width: 16.75rem;
      height: 16.75rem;
      top: 3rem;
      right: -1rem;
      @include mobile {
        top: 1rem;
        right: -1rem;
        width: 8rem;
        height: 8rem;
      }
    }
    &.ball2 {
      width: 5.25rem;
      height: 5.25rem;
      top: 15rem;
      right: 23rem;
      @include mobile {
        width: 2.5rem;
        height: 2.5rem;
        top: 9rem;
        right: 7rem;
      }
    }
    &.ball3 {
      width: 14.375rem;
      height: 14.375rem;
      bottom: 3rem;
      left: -2.5rem;
      @include mobile {
        width: 6.25rem;
        height: 6.25rem;
        bottom: 0;
        left: -1.5rem;
      }
    }
  }
}

.video {
  position: relative;
  cursor: url('../assets/play.svg') 64 64, pointer;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 20, 45, 0.3);
  }
  .callout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.75rem;
    font-weight: 500;
    text-transform: uppercase;
    pointer-events: none;
    margin: 0;
    text-align: center;
    @include tablet {
      font-size: 1.875rem;
      line-height: 1;
    }
  }
  .videoMedia {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    @include tablet {
      height: 56vw;
      min-height: 280px;
    }
  }
  .fullScreenVideo {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    cursor: url('../assets/close.svg') 64 64, pointer;
    .fullScreenVideoMedia {
      background-color: #000;
      height: 100vh;
      width: 100%;
      object-fit: contain;
    }
  }
}

.work {
  .text {
    padding: 7rem 0 14rem;
    position: relative;
    overflow: hidden;
    @include tablet {
      padding: 2.25rem 0 5rem;
    }
    .lead {
      margin: 0 0 1rem;
      font-size: 1.25rem;
      font-weight: 400;
      text-transform: uppercase;
      @include mobile {
        font-size: 0.7rem;
      }
    }
    .description {
      margin: 0;
      font-size: 3.75rem;
      font-weight: 600;
      line-height: 1.25;
      @include mobile {
        font-size: 1.25rem;
      }
    }
    .head {
      position: absolute;
      bottom: -1rem;
      width: 350px;
      height: 250px;
      right: 8rem;
      @include tablet {
        width: 125px;
        height: 85px;
        bottom: 0;
        right: 1rem;
      }
      .svg {
        position: absolute;
        opacity: 0;
        &.visible {
          opacity: 1;
        }
      }
    }
  }
  .portfolioHighlights {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      height: 36vw;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      @include mobile {
        height: 56vw;
      }
      &:nth-child(1),
      &:nth-child(4) {
        width: 36vw;
        @include mobile {
          width: 100%;
        }
      }
      &:nth-child(2),
      &:nth-child(3) {
        width: calc(100% - 36vw);
        @include mobile {
          width: 100%;
        }
      }
    }
    a {
      width: 100%;
      height: 100%;
      display: flex;
      cursor: url('../assets/view.svg') 64 64, pointer;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.skills {
  background: linear-gradient(180deg, #2a34ff -34.16%, #08142d 87.22%);
  .ctaWrapper {
    padding: 7rem 0;
    text-align: right;
    overflow: hidden;
    @include mobile {
      padding: 2.375rem 0 4.5rem;
    }
  }
  .cta {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    @include mobile {
      font-size: 0.8rem;
    }
    &::before {
      position: absolute;
      bottom: -2px;
      content: '';
      display: block;
      height: 1px;
      background-color: #fff;
      width: 1440px;
      right: calc(100% + 3rem);
      @include mobile {
        right: calc(100% + 1rem);
        bottom: 45%;
      }
    }
    &::after {
      position: absolute;
      bottom: -2px;
      content: '';
      display: block;
      height: 1px;
      background-color: #fff;
      right: 0;
      width: 100%;
      transform: scale(0);
      transition: transform 0.3s linear;
      transform-origin: 0%;
    }
    &:hover {
      &::after {
        transform: scale(1);
      }
    }
  }
  .lead {
    margin: 0 0 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    @include mobile {
      font-size: 0.7rem;
    }
  }
  .description {
    margin: 0 auto 7rem;
    max-width: 1200px;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    @include mobile {
      font-size: 1.25rem;
      margin-bottom: 5rem;
    }
  }
  .skillsList {
    color: #2a34ff;
    list-style: none;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    @include mobile {
      font-size: 2rem;
      line-height: 1.4;
    }
    li {
      display: inline-block;
      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 15px;
        background-color: #2a34ff;
        transform: rotate(45deg);
        margin: 0 1.5rem;
        @include mobile {
          width: 6px;
          height: 6px;
          margin: 0 0.75rem;
        }
      }
    }
  }
}

.clients {
  background-color: #fff;
  color: #08142d;
  padding: 7rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 1s linear;
  position: relative;
  @include mobile {
    padding: 3.25rem 0;
  }
  &.visible {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .lead {
    margin: 0 0 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    @include mobile {
      font-size: 0.7rem;
    }
  }
  .description {
    margin: 0;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.25;
    @include mobile {
      font-size: 1.25rem;
    }
  }
  .clientsList {
    margin: 1.25rem 0 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    li {
      display: inline-block;
      width: 22.5%;
      text-align: center;
      margin-top: 3.75rem;
      @include mobile {
        margin-top: 1.25rem;
        width: 47.5%;
      }
      & + li {
        margin-left: 3.33%;
        @include mobile {
          margin-left: 5%;
        }
      }
      &:nth-child(4n-3) {
        margin-left: 0;
      }
      &:nth-child(2n + 1) {
        @include mobile {
          margin-left: 0;
        }
      }
    }
    img {
      max-width: 100%;
    }
  }
}
