@import 'mixins.scss';

.intro {
  background-color: #08142d;
  padding: 14rem 0 10rem;
  position: relative;
  @include mobile {
    padding: 7rem 0 3rem;
  }
  .text {
    position: relative;
    z-index: 1;
    .lead {
      margin: 0 0 1rem;
      font-size: 1.25rem;
      font-weight: 400;
      text-transform: uppercase;
      @include mobile {
        font-size: 0.8rem;
      }
    }
    .description {
      margin: 0;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.25;
      max-width: 900px;
      @include mobile {
        font-size: 1.1rem;
      }
    }
  }
  .ball {
    position: absolute;
    border-radius: 50%;
    &.ball1 {
      width: 16.75rem;
      height: 16.75rem;
      bottom: 5rem;
      right: 15rem;
      background: linear-gradient(
        225deg,
        rgba(42, 52, 255, 1) 0%,
        rgba(8, 20, 45, 1) 80%
      );
      @include mobile {
        bottom: -1rem;
        right: 5rem;
        width: 8rem;
        height: 8rem;
      }
    }
    &.ball2 {
      width: 8.25rem;
      height: 8.25rem;
      bottom: 2rem;
      right: 30rem;
      background: linear-gradient(
        155deg,
        rgba(42, 52, 255, 1) 0%,
        rgba(8, 20, 45, 1) 80%
      );
      @include mobile {
        width: 3.5rem;
        height: 3.5rem;
        bottom: -5rem;
        right: 12rem;
      }
    }
  }
}

.content {
  background-color: #fff;
  color: #08142d;
  padding: 10rem 0 7rem;
  font-size: 1.375rem;
  line-height: 1.45;
  counter-reset: titles;
  @include mobile {
    font-size: 1rem;
    padding: 5rem 0 3rem;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
    }
  }
  .column {
    width: calc(50% - 3rem);
    flex-shrink: 0;
    @include tablet {
      width: 100%;
    }
  }
  h1 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.05;
    text-transform: uppercase;
    @include mobile {
      font-size: 1.35rem;
    }
    &::before {
      counter-increment: titles;
      content: '0' counter(titles) ') ';
    }
  }
  h2 {
    font-weight: 700;
    text-transform: uppercase;
  }
  .inlineButton {
    font-family: inherit;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
}
