@import 'mixins.scss';

.hero {
  .teamHero {
    width: 100%;
    vertical-align: top;
    @include mobile {
      display: none;
    }
  }
  .teamHeroMobile {
    width: 100%;
    vertical-align: top;
    display: none;
    @include mobile {
      display: block;
    }
  }
}

.we {
  padding: 5rem 0 6.5rem;
  background-color: #f2f2f2;
  color: #08142d;
  text-align: center;
  position: relative;
  overflow: hidden;
  @include mobile {
    padding: 3rem 0 5rem;
  }
  .wrapper {
    max-width: 520px;
    margin: 0 auto;
    padding: 0 3rem;
    @include mobile {
      padding: 0;
    }
  }

  :global(.subtitle) {
    @include mobile {
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  :global(.description) {
    margin-bottom: 1.2rem;
    &:last-of-type {
      margin-bottom: 0;
      @include mobile {
        strong {
          display: block;
        }
      }
    }
    @include mobile {
      max-width: 245px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  :global(.trail) {
    position: absolute;
    height: 1.375rem;
    width: 1.375rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEuNTExNyIgY3k9IjExLjQ5ODciIHI9IjExLjIxNjciIHRyYW5zZm9ybT0icm90YXRlKDYwLjgyODQgMTEuNTExNyAxMS40OTg3KSIgZmlsbD0idXJsKCNwYWludDBfbGluZWFyXzUxOV8xNjI5KSIvPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50IGlkPSJwYWludDBfbGluZWFyXzUxOV8xNjI5IiB4MT0iMjIuOTEyOCIgeTE9IjQ0LjYwOTYiIHgyPSI5LjMyNTExIiB5Mj0iMS4xNDE2IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CjxzdG9wIHN0b3AtY29sb3I9IiMyQTM0RkYiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjRkUwMEFFIi8+CjwvbGluZWFyR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg==);
    background-size: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    &:global(.small) {
      height: 0.75rem;
      width: 0.75rem;
    }
    @media (pointer: none) {
      display: none;
    }
  }
  .head {
    position: absolute;
    bottom: 0;
    left: calc(50% + 280px);
    @include tablet {
      left: 2rem;
    }
    img {
      vertical-align: top;
      transition: transform 0.5s ease;
      pointer-events: none;
      @include tablet {
        height: 100px;
      }
      @include mobile {
        height: 50px;
      }
      &.scared {
        transform: translateY(100%);
      }
    }
  }
}

.what {
  background-color: #08142d;
  background: linear-gradient(
    180deg,
    rgba(29, 39, 170, 1) 0%,
    rgba(8, 20, 45, 1) 100%
  );
  color: #f2f2f2;
  text-align: center;
  padding: 4.75rem 1rem 7rem;
  position: relative;
  @include mobile {
    padding: 3rem 1rem 5rem;
  }
  .wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 3rem;
    @include mobile {
      padding: 0;
    }
  }

  :global(.subtitle) {
    @include mobile {
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  :global(.description) {
    margin-bottom: 1.2rem;
    @include mobile {
      max-width: 245px;
      margin-left: auto;
      margin-right: auto;
      br {
        display: none;
      }
    }
  }

  .services {
    margin: 3.3rem auto 0;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 1170px;
    text-align: center;
    position: relative;
    z-index: 1;
    @include tablet {
      max-width: 585px;
    }
    & > li {
      width: 25%;
      display: inline-block;
      vertical-align: top;
      @include mobile {
        width: 100%;
        text-align: center;
      }
      & + li {
        margin-left: 12.5%;
        @include mobile {
          margin-left: 0;
          &:nth-child(n + 1) {
            margin-top: 4rem;
          }
        }
      }
      .skill {
        width: 60px;
        height: 60px;
      }
      .title {
        font-size: 1.125rem;
        margin: 1.3rem 0 0.6rem;
        text-transform: uppercase;
        &::after {
          content: '';
          display: block;
          width: 1rem;
          height: 2px;
          background-color: #fe00ae;
          margin: 0.9rem auto 0;
          @include mobile {
            margin: 1rem auto 0;
          }
        }
      }
      .list {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0.875rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 2;
        font-weight: 300;
      }
    }
  }
  .ball {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
      225deg,
      rgba(42, 52, 255, 1) 0%,
      rgba(8, 20, 45, 1) 100%
    );
    &.ball1 {
      width: 14rem;
      height: 14rem;
      top: 1.5rem;
      right: -2rem;
    }
    &.ball2 {
      width: 4.375rem;
      height: 4.375rem;
      top: 12.5rem;
      right: 12.5rem;
    }
    &.ball3 {
      width: 8.75rem;
      height: 8.75rem;
      bottom: 2.5rem;
      left: -2.5rem;
    }
  }
}

.clients {
  background-color: #f2f2f2;
  color: #08142d;
  text-align: center;
  padding: 4.75rem 1rem 5.5rem;
  position: relative;
  overflow: hidden;
  @include mobile {
    padding: 3rem 1rem;
  }
  .wrapper {
    max-width: 350px;
    margin: 0 auto;
    padding: 0 3rem;
    @include mobile {
      padding: 0;
    }
  }

  :global(.subtitle) {
    @include mobile {
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .logos {
    margin: 2rem auto 0;
    max-width: 800px;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      vertical-align: middle;
      width: 33.33%;
      margin-top: 3rem;
      box-sizing: border-box;
      padding: 0 1rem;
      @include mobile {
        width: 50%;
      }
      img {
        max-width: 100%;
      }
    }
  }
  .head {
    position: absolute;
    top: 0;
    left: 4rem;
    @include tablet {
      left: 2rem;
    }
    img {
      vertical-align: top;
      transition: transform 0.5s ease;
      &.scared {
        transform: translateY(-100%);
      }
    }
  }
  :global(.trail) {
    position: absolute;
    height: 1.375rem;
    width: 1.375rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEuNTExNyIgY3k9IjExLjQ5ODciIHI9IjExLjIxNjciIHRyYW5zZm9ybT0icm90YXRlKDYwLjgyODQgMTEuNTExNyAxMS40OTg3KSIgZmlsbD0idXJsKCNwYWludDBfbGluZWFyXzUxOV8xNjI5KSIvPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50IGlkPSJwYWludDBfbGluZWFyXzUxOV8xNjI5IiB4MT0iMjIuOTEyOCIgeTE9IjQ0LjYwOTYiIHgyPSI5LjMyNTExIiB5Mj0iMS4xNDE2IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CjxzdG9wIHN0b3AtY29sb3I9IiMyQTM0RkYiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjRkUwMEFFIi8+CjwvbGluZWFyR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg==);
    background-size: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    &:global(.small) {
      height: 0.75rem;
      width: 0.75rem;
    }
    @media (pointer: none) {
      display: none;
    }
  }
}

.workTogether {
  background-color: #fe00ae;
  padding: 4rem 4.8rem;
  position: relative;
  @include mobile {
    text-align: center;
    padding: 3.5rem 1rem;
  }
  .content {
    position: relative;
    z-index: 1;
  }
  :global(.subtitle) {
    max-width: 595px;
    margin-bottom: 4.9rem;
    @include tablet {
      max-width: 500px;
    }
    @include mobile {
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .quote {
    font-weight: 500;
    font-size: 1rem;
    max-width: 400px;
    @include mobile {
      margin: 0 auto;
    }
    strong {
      font-size: 1.375rem;
    }
  }
  .cta {
    margin-top: 3.25rem;
  }
  .animation {
    cursor: url('../assets/question.png'), auto;
    position: relative;
    display: inline-block;
    @include tablet {
      display: block;
    }
    .letter {
      pointer-events: none;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: -2px;
        right: -2px;
        bottom: 0;
        height: 3px;
        background-color: #2139f8;
      }
      &.changing {
        opacity: 0.3;
      }
      &.hidden {
        opacity: 0;
        width: 0;
        display: inline-block;
      }
    }
  }
  .scroll {
    display: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 1.5rem;
    border: none;
    background-color: transparent;
    background-image: url('../assets/backtotop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.75rem;
    outline: none;
    cursor: pointer;
    @include mobile {
      display: block;
    }
  }
  .ball {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
      315deg,
      rgba(42, 52, 255, 1) -70%,
      rgba(254, 0, 174, 1) 85%
    );
    &.ball1 {
      width: 9.5rem;
      height: 9.5rem;
      top: -3.75rem;
      right: 12rem;
    }
    &.ball2 {
      width: 15.75rem;
      height: 15.75rem;
      top: 14rem;
      right: 26rem;
    }
    &.ball3 {
      width: 22.75rem;
      height: 22.75rem;
      bottom: -5.625rem;
      right: -1.5rem;
    }
  }
}

footer {
  padding: 2.625rem 4.8rem 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #08142d;
  @include tablet {
    flex-direction: column-reverse;
    padding: 2.625rem 1rem 2.8rem;
  }
  .logo {
    width: 200px;
    margin-top: 1.75rem;
    @include tablet {
      display: none;
    }
  }
  .copyright {
    font-size: 0.75rem;
    display: inline-block;
    @include tablet {
      text-align: center;
    }
  }
  .links {
    @include tablet {
      text-align: center;
    }
    .link {
      color: #fff;
      text-decoration: none;
      background-color: transparent;
      font-size: 1.56rem;
      font-weight: 700;
      border: none;
      font-family: inherit;
      padding: 0;
      transition: color 0.2s linear;
      cursor: pointer;
      &:hover,
      &.active {
        color: #fe00ae;
      }
      @include mobile {
        font-size: 1.25rem;
      }
    }
    .cta {
      margin-top: 3.625rem;
      @include tablet {
        display: none;
      }
    }
  }
}
