.workDetailPage {
  position: relative;
  z-index: 1000;
}

.backLink {
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
  color: #2a34ff;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  background-image: url('../assets/arrow3.svg');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2rem;
}

.workDetail {
  background-color: #fff;
  color: #08142d;
}

.hero,
.bigPicture {
  width: 100%;
  vertical-align: top;
}

.mainContent {
  position: relative;
  .previous,
  .next {
    position: absolute;
    top: 37%;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #08142d80;
    text-decoration: none;
    &::before {
      content: '';
      display: block;
      background-image: url('../assets/arrow2.svg');
      background-repeat: no-repeat;
      min-width: 38px;
      width: 100%;
      height: 24px;
      background-size: contain;
      margin-bottom: 1rem;
      background-position: right center;
    }
  }
  .previous {
    left: 2.6rem;
    &::before {
      transform: scaleX(-1);
    }
  }
  .next {
    right: 2.6rem;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 7rem 0;
  margin: 0 auto;
  max-width: calc(100vw - 400px);
  .header {
    width: 40%;
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      margin: 0;
      line-height: 1.2;
    }
    .subtitle {
      font-weight: 500;
      font-size: 2.5rem;
      margin: 0;
      line-height: 1.2;
      opacity: 0.5;
    }
    .tags {
      margin: 4.5rem 0 0;
      padding: 0;
      font-size: 1.125rem;
      line-height: 2.3;
      opacity: 0.5;
      text-transform: uppercase;
      list-style: none;
      font-weight: 500;
      li {
        &::before {
          content: '— ';
        }
      }
    }
  }
  .body1 {
    width: 50%;
    font-size: 1.375rem;
    line-height: 1.45;
    :first-child {
      margin-top: 0;
    }
  }
}

.gallerySection {
  background-color: #fff;
  padding-bottom: 8rem;
  cursor: url('../assets/drag.svg') 64 64, grab;
  .gallery {
    margin: 0;
    list-style: none;
    padding: 0 0 5rem;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
    .imageItem {
      display: inline-block;
      vertical-align: top;
      &:nth-child(n + 2) {
        margin-left: 1rem;
      }
    }
  }
  .scrollStatus {
    background-color: #fe00ae4d;
    height: 2px;
    width: 40vw;
    margin: 0 auto;
    display: flex;
    .scrollStatusPusher {
      background-color: transparent;
      height: 2px;
    }
    .scrollStatusBar {
      background-color: #fe00ae;
      height: 2px;
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
}

.body2 {
  padding: 7rem 0;
  max-width: 40rem;
  font-size: 1.375rem;
  line-height: 1.45;
  margin-left: 15%;
  :first-child {
    margin-top: 0;
  }
}

.vimeoVideo {
  width: 100%;
  height: 56.25vw;
  vertical-align: top;
}

.behance {
  background-color: #2a34ff;
  color: #fff;
  text-align: center;
  padding: 3.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  position: relative;
  span {
    display: inline-block;
    opacity: 0.5;
    margin-bottom: 1rem;
  }
  .previous,
  .next {
    position: absolute;
    top: 50%;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #ffffff80;
    text-decoration: none;
    transform: translateY(-50%);
    &::before {
      content: '';
      display: block;
      background-image: url('../assets/arrow5.svg');
      background-repeat: no-repeat;
      min-width: 38px;
      width: 100%;
      height: 24px;
      background-size: contain;
      margin-bottom: 1rem;
      background-position: right center;
    }
  }
  .previous {
    left: 2.6rem;
    &::before {
      transform: scaleX(-1);
    }
  }
  .next {
    right: 2.6rem;
  }
}
