@import "src/styles/mixins.scss";

.wrapper {
  position: relative;
  height: 100vh;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;

  &:global(.fade-enter) {
    animation-name: enter;
  }
  &:global(.fade-exit) {
    animation-name: exit;
  }
}

@keyframes enter {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes exit {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.transitionPane {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .transitionPaneFirst,
  .transitionPaneLast,
  .transitionPaneMaster {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
  }
  .transitionPaneSentence {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    opacity: 0;
    @include mobile {
      font-size: 1.125rem;
    }
    .sentenceWrapperWork {
      @include mobile {
        margin: 0 auto;
        max-width: 230px;
      }
    }
    .sentenceWrapperUs {
      @include mobile {
        margin: 0 auto;
        max-width: 250px;
      }
    }
    strong {
      font-weight: 800;
      font-size: 3.125rem;
      @include mobile {
        font-size: 1.375rem;
      }
    }
    .hiddenMobile {
      @include mobile {
        display: none;
      }
    }
  }
  .transitionPaneFirst {
    background-color: #fe00ae;
    animation-timing-function: cubic-bezier(0.4, 0, 0, 1);
  }
  .transitionPaneLast {
    background-color: #fe00ae;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1);
  }
  .transitionPaneMaster {
    background-color: #08142d;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1);
  }
  &.visible {
    display: block;
    .transitionPaneFirst,
    .transitionPaneLast,
    .transitionPaneMaster {
      animation-name: wave;
    }
    .transitionPaneSentence {
      animation-name: text;
    }
  }
}

@keyframes wave {
  from {
    bottom: 0;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  to {
    bottom: 100%;
    height: 0;
  }
}

@keyframes text {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-50%);
  }
  70% {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
