@import "src/styles/mixins.scss";

.intro {
  background-color: #000;
  background-image: url("../assets/background.jpeg");
  background-size: cover;
  background-position: bottom center;
  padding: 18rem 0 9.5rem;
  position: relative;
  @include mobile {
    padding: 7rem 0 3rem;
  }
  .text {
    position: relative;
    z-index: 1;
    .description {
      margin: 0;
      font-size: 4.875rem;
      font-weight: 600;
      line-height: 1.25;
      max-width: 825px;
      @include mobile {
        font-size: 3rem;
        max-width: 540px;
      }
    }
    .lead {
      margin: 0 0 1rem;
      font-size: 2rem;
      font-weight: 400;
      max-width: 600px;
      line-height: 1.4;
      @include mobile {
        font-size: 1.2rem;
        max-width: 360px;
      }
    }
    .button {
      margin-top: 9rem;
      display: flex;
      justify-content: flex-end;
      @include mobile {
        margin-top: 3rem;
      }
    }
  }
}

.clients {
  background-color: #fff;
  color: #08142d;
  padding: 2.5rem 0 4rem;
  position: relative;
  @include mobile {
    padding: 1.2rem 0 2rem;
  }
  .lead {
    margin: 0 0 1rem;
    font-size: 1.15rem;
    font-weight: 400;
    text-transform: uppercase;
    @include mobile {
      font-size: 0.8rem;
    }
  }
  .clientsList {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
    li {
      display: inline-block;
      text-align: center;
      margin-left: 2.8rem;
    }
    img {
      height: 70px;
      pointer-events: none;
    }
  }
}

.work {
  background-color: #fff;
  color: #08142d;
  .mainText {
    padding: 4rem 0 14rem;
    position: relative;
    overflow: hidden;
    @include tablet {
      padding: 2rem 0 3.4rem;
    }
    .lead {
      margin: 0 0 1rem;
      font-size: 1.25rem;
      font-weight: 400;
      text-transform: uppercase;
      @include mobile {
        font-size: 0.8rem;
      }
    }
    .description {
      margin: 0;
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1.25;
      max-width: 1250px;
      @include mobile {
        font-size: 1rem;
      }
    }
  }
  .portfolioHighlights {
    margin: 0;
    padding: 0 6rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    @include smallDesktop {
      padding: 0;
    }
    li {
      height: 500px;
      width: 850px;
      @include tablet {
        width: 100%;
        height: 58vw;
      }
      &:nth-child(2n-1) {
        align-self: flex-end;
        .text {
          left: -7.5rem;
          @include smallDesktop {
            left: -2.5rem;
          }
          @include tablet {
            left: 1rem;
            right: 1rem;
          }
        }
      }
      &:nth-child(2n) {
        .text {
          right: -7.5rem;
          @include smallDesktop {
            right: -2.5rem;
          }
          @include mobile {
            left: 1rem;
            right: 1rem;
          }
        }
      }
      & + li {
        margin-top: 10rem;
        @include mobile {
          margin-top: 5rem;
        }
      }
      &:last-child {
        margin-bottom: 7.5rem;
        @include mobile {
          margin-bottom: 3.5rem;
        }
      }
    }
    a {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      cursor: none;
      @media (pointer: coarse) {
        cursor: default;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .text {
        position: absolute;
        bottom: 3.5rem;
        pointer-events: none;
        background-color: #fff;
        color: #08142d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 457px;
        height: 136px;
        border-radius: 68px;
        box-shadow: 9px 15px 30px 0px #08142d1a;
        padding: 0 122px 0 46px;
        @include tablet {
          height: 80px;
          border-radius: 40px;
          padding: 0 65px 0 23px;
          bottom: 1rem
        }
        @include mobile {
          width: auto;
        }
        .name {
          font-size: 1.375rem;
          font-weight: 700;
          line-height: 1.25;
          margin: 0;
          text-transform: uppercase;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          @include mobile {
            font-size: 0.9rem;
          }
        }
        .tags {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.66;
          margin: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          @include mobile {
            font-size: 0.8rem;
          }
        }
        .arrow {
          border: 1px solid #08142d;
          border-radius: 50%;
          height: 46px;
          width: 46px;
          position: absolute;
          top: 50%;
          right: 38px;
          transform: translate(0%, -50%);
          @include tablet {
            height: 30px;
            width: 30px;
            right: 18px;
          }
        }
      }
    }
  }
}

.skills {
  background: linear-gradient(180deg, #2a34ff -34.16%, #08142d 87.22%);
  .ctaWrapper {
    padding: 7rem 0;
    text-align: right;
    overflow: hidden;
    @include mobile {
      padding: 2.375rem 0 4.5rem;
    }
  }
  .cta {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    @include mobile {
      font-size: 0.8rem;
    }
    &::before {
      position: absolute;
      bottom: -2px;
      content: "";
      display: block;
      height: 1px;
      background-color: #fff;
      width: 1440px;
      right: calc(100% + 3rem);
      @include mobile {
        right: calc(100% + 1rem);
        bottom: 45%;
      }
    }
    &::after {
      position: absolute;
      bottom: -2px;
      content: "";
      display: block;
      height: 1px;
      background-color: #fff;
      right: 0;
      width: 100%;
      transform: scale(0);
      transition: transform 0.3s linear;
      transform-origin: 0%;
    }
    &:hover {
      &::after {
        transform: scale(1);
      }
    }
  }
  .lead {
    margin: 0 0 1rem;
    font-size: 1.15rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    @include mobile {
      font-size: 0.8rem;
    }
  }
  .description {
    margin: 0 auto 7rem;
    max-width: 1250px;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    @include mobile {
      font-size: 1.35rem;
      margin-bottom: 5rem;
    }
  }
  .skillsList {
    color: #2a34ff;
    list-style: none;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    @include mobile {
      font-size: 2rem;
      line-height: 1.4;
    }
    li {
      display: inline-block;
      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 15px;
        background-color: #2a34ff;
        transform: rotate(45deg);
        margin: 0 1.5rem;
        @include mobile {
          width: 6px;
          height: 6px;
          margin: 0 0.75rem;
        }
      }
    }
  }
}
