@use "src/styles/mixins.scss";

.intro {
  background-color: #03060E;
  padding: 12.5rem 0 0;
  position: relative;
  box-sizing: border-box;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/blur-min.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  @include mixins.mobile {
    padding: 6rem 0 0;
  }
  .text {
    position: relative;
    z-index: 1;
    .description {
      margin: 0;
      font-size: 4.875rem;
      font-weight: 600;
      line-height: 1.25;
      max-width: 825px;
      @include mixins.mobile {
        font-size: 2.8rem;
        max-width: 540px;
      }
    }
    .lead {
      margin: 1.25rem 0 1rem;
      font-size: 2rem;
      font-weight: 400;
      max-width: 600px;
      line-height: 1.4;
      @include mixins.mobile {
        font-size: 1rem;
        max-width: 360px;
      }
    }
    .button {
      margin-top: 5rem;
      display: flex;
      justify-content: flex-end;
      pointer-events: all;
      @include mixins.mobile {
        margin-top: 4rem;
      }
    }
  }
  .video{
    margin-top: 3rem;
    position: relative;
    z-index: 1;
    video{
      pointer-events: none;
      border-radius: 20px;
      width: 100%;
      margin-bottom: -28%;
    }
  }
}
