@import "src/styles/mixins.scss";

.intro {
  background-color: #03060E;
  padding: 18rem 0 9.5rem;
  position: relative;
  min-height: calc(100vh - 200px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  @include mobile {
    padding: 11rem 0 4rem;
  }
  .spline {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
  }
  .text {
    position: relative;
    z-index: 1;
    pointer-events: none;
    .description {
      margin: 0;
      font-size: 4.875rem;
      font-weight: 600;
      line-height: 1.25;
      max-width: 825px;
      @include mobile {
        font-size: 2.8rem;
        max-width: 540px;
      }
    }
    .lead {
      margin: 1.25rem 0 1rem;
      font-size: 2rem;
      font-weight: 400;
      max-width: 600px;
      line-height: 1.4;
      @include mobile {
        font-size: 1rem;
        max-width: 360px;
      }
    }
    .button {
      margin-top: 5rem;
      display: flex;
      justify-content: flex-end;
      pointer-events: all;
      @include mobile {
        margin-top: 4rem;
      }
    }
  }
}

.related {
  background-color: #f3f3f4;
  padding: 7.5rem 0 4rem;
  color: #08142d;
  @include mobile {
    padding: 3.5rem 0 3.75rem;
  }
  :global(.wrapper) {
    max-width: 1000px;
  }
  .lead {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1rem;
    font-size: 1.25rem;
    @include mobile {
      font-size: 0.8125rem;
      margin: 0 0 0.5rem;
    }
  }
  .caption {
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    @include mobile {
      font-size: 1.375rem;
    }
  }
  .articles {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    gap: 1rem;
    margin-top: 2.5rem;
    @include mobile {
      gap: 0;
    }
    .article {
      width: calc(33.33% - 0.67rem);
      position: relative;
      padding-bottom: 2.5rem;
      @include mobile {
        width: 100%;
      }
    }
    .link {
      color: inherit;
      text-decoration: none;
    }
    .imageWrapper {
      position: relative;
      margin-bottom: 1.5rem;
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(8, 20, 45, 0) 0%,
          rgba(8, 20, 45, 0.6) 66.93%
        );
      }
    }
    .image {
      width: 100%;
      aspect-ratio: 1.755;
      vertical-align: top;
    }
    .author {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 1rem;
      left: 1rem;
      @include mobile {
        bottom: 0.75rem;
        left: 0.75rem;
      }
      .avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        @include mobile {
          width: 30px;
          height: 30px;
        }
      }
      .authorInfo {
        font-size: 0.7rem;
        padding-left: 0.5rem;
        color: #fff;
      }
    }
    .date {
      text-transform: uppercase;
      color: #08142d80;
      font-size: 0.7rem;
      margin: 0;
      letter-spacing: 2px;
      @include mobile {
        font-size: 0.6rem;
      }
    }
    .title {
      font-size: 1.125rem;
      font-weight: 700;
      margin: 0.5rem 0;
    }
  }
  .cta {
    text-align: center;
  }
}
