@import 'mixins.scss';

.modalWrapper {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
  transition: clip-path 1s cubic-bezier(0.8, 0, 0.2, 1);
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  &.openModal {
    pointer-events: all;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
.modal {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  background-color: #f2f2f2;
  text-align: center;
  color: #08142d;
  @include mobile {
    background: linear-gradient(179.94deg, #2a34ff 66.43%, #fe00ae 99.95%);
    color: #fff;
  }
  .close {
    position: fixed;
    z-index: 10;
    top: 3rem;
    right: 3rem;
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    @include mobile {
      top: 2em;
      right: 1.2rem;
      width: 1.2rem;
      height: 1.2rem;
      background-color: transparent;
      background-image: url('../../assets/closeWhite.svg');
      background-size: contain;
    }
    > div {
      position: relative;
      @include mobile {
        display: none;
      }
    }
    .closeButtonBlock {
      width: 40px;
      height: 20px;
      position: relative;
      overflow: hidden;
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(55% - 4px);
        display: block;
        width: 4px;
        height: 25px;
        transform-origin: bottom center;
        background: #fe00ae;
        transition: all ease-out 280ms;
      }
      &:last-of-type {
        transform: rotate(180deg);
      }
    }
    .in {
      .closeButtonBlock {
        &:before {
          transition-delay: 280ms;
          transform: translateX(20px) translateY(-20px) rotate(45deg);
        }
        &:after {
          transition-delay: 280ms;
          transform: translateX(-22px) translateY(-22px) rotate(-45deg);
        }
      }
    }
    .out {
      position: absolute;
      top: 0;
      left: 0;
      .closeButtonBlock {
        &:before {
          transform: translateX(-5px) translateY(5px) rotate(45deg);
        }
        &:after {
          transform: translateX(5px) translateY(5px) rotate(-45deg);
        }
      }
    }
    &:hover,
    &:focus {
      .in {
        .closeButtonBlock {
          &:before {
            transform: translateX(-5px) translateY(5px) rotate(45deg);
          }
          &:after {
            transform: translateX(5px) translateY(5px) rotate(-45deg);
          }
        }
      }
      .out {
        .closeButtonBlock {
          &:before {
            transform: translateX(-20px) translateY(20px) rotate(45deg);
          }
          &:after {
            transform: translateX(20px) translateY(20px) rotate(-45deg);
          }
        }
      }
    }
    &:focus {
      outline: none;
    }
  }
  .gif {
    width: 50%;
    @include tablet {
      display: none;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .contentWrapper {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      height: calc(100vh - 150px);
    }
    .content {
      width: 100%;
      @include mobile {
        padding-top: 3rem;
      }
    }
  }

  .salute {
    font-weight: 400;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #2a34ff;
    margin: 0;
    @include mobile {
      font-size: 0.7rem;
      color: #00ffe6;
    }
  }
  .lead {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1.25rem 0 4vh;
    @include mobile {
      font-size: 1.6rem;
      margin: 0 0 5vh;
    }
  }
  dl {
    margin: 0;
    dt {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 3;
      text-transform: uppercase;
      opacity: 0.5;
      @include mobile {
        font-size: 0.7rem;
        line-height: 1.25;
      }
    }
    dd {
      margin: 0;
    }
  }

  .mail {
    font-weight: 600;
    font-size: 2.5rem;
    color: inherit;
    text-decoration: none;
    transition: color 0.2s linear;
    cursor: url('../../assets/hand.png'), auto;
    display: inline-block;
    margin-bottom: 5vh;
    @include mobile {
      font-size: 1rem;
    }
    &:hover {
      color: #fe00ae;
      text-decoration: underline;
    }
  }
  .inquires {
    font-size: 1.125rem;
    font-weight: 500;
    opacity: 0.5;
    max-width: 26rem;
    margin: 0 auto;
    @include mobile {
      display: none;
    }
  }

  .quote {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1.875rem;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
    text-transform: lowercase;
    transition: color 0.2s linear;
    cursor: url('../../assets/hand.png'), auto;
    @include mobile {
      font-size: 1rem;
      margin-top: 0;
    }
    &:hover {
      color: #fe00ae;
      text-decoration: underline;
    }
    &:before {
      content: '';
      display: inline-block;
      background-image: url('../../assets/arrow4.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 16px;
      background-size: contain;
      background-position: center;
      padding-right: 1rem;
      @include mobile {
        width: 15px;
        height: 9px;
        background-image: url('../../assets/arrow.svg');
      }
    }
  }

  .address {
    margin-top: 4.5vh;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 2px;
    opacity: 0.5;
    text-transform: uppercase;
    @include mobile {
      font-size: 0.7rem;
      margin-top: 9vh;
    }
  }

  .footer {
    margin: 4vh auto 0;
    padding: 1.7rem 0 0;
    border-top: 1px solid #08142d;
    max-width: 45vw;
    width: 45rem;
    @include tablet {
      max-width: 90vw;
    }
    @include mobile {
      position: fixed;
      bottom: 3rem;
      padding-top: 1.6rem;
      border-top: 1px solid #fff;
      left: 5vw;
      text-align: center;
      color: #fff;
    }
    .slogan {
      margin: 0;
      font-weight: 500;
      font-size: 0.75rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #2a34ff;
      @include mobile {
        font-size: 0.6rem;
        color: #fff;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 2.25rem 0 0;
      @include mobile {
        margin: 1.3rem 0 0;
        font-size: 0;
      }
      li {
        display: inline-block;
        & + li {
          margin-left: 2.2rem;
          @include mobile {
            margin-left: 0.8rem;
          }
        }
      }
      a {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.7;
        letter-spacing: 2px;
        color: inherit;
        text-transform: uppercase;
        text-decoration: none;
        @include mobile {
          font-size: 0.6rem;
          line-height: inherit;
        }
      }
    }
  }
}
