@import 'src/styles/mixins.scss';

.header {
  box-sizing: border-box;
  mix-blend-mode: difference;
  padding: 2.125rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  pointer-events: none;
  &.defaultHeader {
    mix-blend-mode: normal;
  }
  &.logbook {
    mix-blend-mode: difference;
    transition: opacity 1s linear;
    transition-delay: 2s;
    &.single {
      pointer-events: none;
      opacity: 0;
      width: 0;
      overflow: hidden;
    }
  }
  @include mobile {
    padding: 1rem 0;
  }
  a,
  button {
    pointer-events: all;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    width: 60px;
    height: 60px;
    @include mobile {
      width: 40px;
      height: 40px;
    }
  }
  nav {
    @include mobile {
      display: none;
    }
    button {
      border: none;
      background-color: transparent;
      padding: 0;
    }
    a {
      text-decoration: none;
    }
    a,
    button {
      cursor: pointer;
      font-family: inherit;
      font-size: 1.125rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #fff;
      margin-left: 5rem;
      position: relative;
      .text {
        transition: transform 0.2s linear;
        display: inline-block;
      }
      &:after {
        content: '';
        opacity: 0;
        position: absolute;
        right: -1rem;
        background-image: url('../../assets/menuArrow.svg');
        background-repeat: no-repeat;
        width: 17px;
        height: 10px;
        top: 50%;
        margin-top: -6px;
        background-size: contain;
        background-position: center;
        transition: all 0.2s linear;
      }
      &.active,
      &:hover {
        .text {
          transform: translateX(-0.25rem);
        }
        &::after {
          opacity: 1;
          transform: translateX(0.25rem);
        }
      }
    }
  }
  .menuButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    border: none;
    color: transparent;
    width: 25px;
    height: 18px;
    background-color: transparent;
    font-size: 0;
    outline: none;
    padding: 0;
    display: none;
    cursor: pointer;
    @include mobile {
      display: block;
    }
    div {
      background-color: #e4f9fe;
      height: 2px;
      transition: width 0.2s linear;
      &:nth-child(1),
      &:nth-child(3) {
        width: 20px;
      }
      &:nth-child(2) {
        width: 25px;
        margin: 5px 0;
      }
    }
  }
}

.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #08142d;
  background: linear-gradient(179.94deg, #2a34ff 66.43%, #fe00ae 99.95%);
  font-size: 2.25rem;
  pointer-events: none;
  transition: clip-path 0.75s cubic-bezier(0.8, 0, 0.2, 1);
  clip-path: circle(0% at calc(100% - 2rem) 2rem);
  &.open {
    pointer-events: all;
    clip-path: circle(150% at 100% 0%);
  }
  &::before {
    content: '';
    position: absolute;
    height: 50%;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #08142d;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    opacity: 0.02;
  }
  .close {
    position: fixed;
    cursor: pointer;
    top: 2em;
    right: 1.2rem;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    overflow: hidden;
    border: none;
    padding: 0;
    background-color: transparent;
    background-image: url('../../assets/closeWhite.svg');
    background-size: contain;
    &:focus {
      outline: none;
    }
  }
  .links {
    text-align: center;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    button,
    .link {
      display: inline-block;
      width: 100%;
      outline: none;
      text-align: center;
      border: none;
      cursor: pointer;
      text-decoration: none;
      font-size: 2.8rem;
      background-color: transparent;
      font-weight: bold;
      font-family: inherit;
      padding: 0;
      color: #fff;
      transition: color 0.2s linear;
      &:hover,
      &.active {
        color: #00ffe6;
      }
    }
  }
  .footer {
    position: fixed;
    bottom: 3rem;
    padding-top: 1.6rem;
    border-top: 1px solid #fff;
    width: 90vw;
    left: 5vw;
    text-align: center;
    color: #fff;
    .slogan {
      margin: 0;
      font-weight: 500;
      font-size: 0.7rem;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 1.3rem auto 1rem;
      font-size: 0;
      @include smallPhone {
        max-width: 250px;
      }
      li {
        display: inline-block;
        margin: 0 0.4rem;
        padding-bottom: 1rem;
      }
      a {
        font-size: 0.6rem;
        font-weight: 500;
        letter-spacing: 2px;
        color: inherit;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
  .ball {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(337.28deg, #2a34ff 11.54%, #fe00ae 102.75%);
    &.ball1 {
      width: 9rem;
      height: 9rem;
      top: 2rem;
      left: -2rem;
      z-index: -1;
    }
    &.ball2 {
      width: 3.3rem;
      height: 3.3rem;
      top: -0.5rem;
      left: 6.5rem;
    }
  }
}
