@import 'mixins.scss';

.header {
  box-sizing: border-box;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  @include mobile {
    padding: 1rem;
  }
  .logo {
    width: 200px;
    max-width: 40vw;
    @include mobile {
      display: none;
    }
  }
  .miniLogo {
    width: 46px;
    display: none;
    @include mobile {
      display: block;
    }
  }
  .cta {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    &:after {
      background: #294bca;
    }
    @include mobile {
      display: none;
    }
  }
}
