@import "src/styles/mixins.scss";

.header {
  box-sizing: border-box;
  mix-blend-mode: difference;
  padding: 2.125rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  pointer-events: none;
  &.defaultHeader {
    mix-blend-mode: normal;
  }
  &.privacy-policy,
  &.insights {
    mix-blend-mode: difference;
    transition: opacity 1s linear;
    transition-delay: 2s;
    &.single {
      pointer-events: none;
      opacity: 0;
      width: 0;
      overflow: hidden;
    }
  }
  @include mobile {
    padding: 1rem 0;
  }
  a,
  button {
    pointer-events: all;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    width: 60px;
    height: 60px;
    @include mobile {
      width: 40px;
      height: 40px;
    }
  }
  nav {
    @include smallDesktop {
      display: none;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      font-family: inherit;
      font-size: 1.125rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #fff;
      margin-left: 5rem;
      position: relative;
      .text {
        transition: transform 0.2s linear;
        display: inline-block;
      }
      &:after {
        content: "";
        opacity: 0;
        position: absolute;
        right: -1rem;
        background-image: url("../../assets/menuArrow.svg");
        background-repeat: no-repeat;
        width: 17px;
        height: 10px;
        top: 50%;
        margin-top: -6px;
        background-size: contain;
        background-position: center;
        transition: all 0.2s linear;
      }
      &.active,
      &:hover {
        .text {
          transform: translateX(-0.25rem);
        }
        &::after {
          opacity: 1;
          transform: translateX(0.25rem);
        }
      }
      &.active {
        font-weight: 600;
      }
    }
    .requestButton {
      margin-left: 3rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .menuButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: transparent;
    width: 22px;
    height: 18px;
    background-color: transparent;
    font-size: 0;
    outline: none;
    padding: 0;
    display: none;
    cursor: pointer;
    @include smallDesktop {
      display: block;
      right: 5rem;
    }
    @include tablet {
      right: 2rem;
    }
    @include mobile {
      right: 1rem;
    }
    div {
      background-color: #e4f9fe;
      height: 2px;
      transition: width 0.2s linear;
      &:nth-child(1),
      &:nth-child(3) {
        width: 11px;
      }
      &:nth-child(1){
        margin-left: 11px;
      }
      &:nth-child(2) {
        width: 22px;
        margin: 5px 0;
      }
    }
  }
}

.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: #08142d;
  font-size: 2.25rem;
  pointer-events: none;
  transition: clip-path 0.75s cubic-bezier(0.8, 0, 0.2, 1);
  display: none;
  @include smallDesktop {
    display: block;
    clip-path: circle(0% at calc(100% - 5.3rem) 5.3rem);
  }
  @include tablet {
    clip-path: circle(0% at calc(100% - 3.7rem) 3.7rem);
  }
  @include mobile {
    clip-path: circle(0% at calc(100% - 2rem) 2rem);
  }
  &.open {
    pointer-events: all;
    clip-path: circle(150% at 100% 0%);
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/blur.svg');
    background-repeat: no-repeat;
    background-position: top center;
  }
  .close {
    position: fixed;
    z-index: 1;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    overflow: hidden;
    border: none;
    padding: 0;
    background-color: transparent;
    background-image: url("../../assets/closeWhite.svg");
    background-size: contain;
    top: 4.1em;
    right: 5.3rem;
    @include tablet {
      top: 4.1em;
      right: 2.3rem;
    }
    @include mobile {
      top: 2em;
      right: 1.3rem;
    }
    &:focus {
      outline: none;
    }
  }
  .links {
    text-align: center;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .link {
      text-transform: uppercase;
      display: inline-block;
      width: 100%;
      outline: none;
      text-align: center;
      border: none;
      cursor: pointer;
      text-decoration: none;
      font-size: 2.8rem;
      background-color: transparent;
      font-weight: 400;
      font-family: inherit;
      padding: 0;
      color: #fff;
      transition: color 0.2s linear;
      &.active {
        font-weight: 700;
      }
    }
    .requestButton {
      margin-top: 6vh;
    }
  }
  .footer {
    position: fixed;
    bottom: 3vh;
    width: 90vw;
    left: 5vw;
    text-align: center;
    color: #fff;
    ul {
      list-style: none;
      padding: 0;
      margin: 1.3rem auto 1rem;
      font-size: 0;
      li {
        display: inline-block;
        margin: 0 0.8rem;
        padding-bottom: 1rem;
      }
      a {
        font-size: 0.6rem;
        font-weight: 500;
        letter-spacing: 2px;
        color: inherit;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
