@import 'mixins.scss';

.video {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100%;
  left: 0;
  @media (orientation: portrait) {
    height: 100vw;
  }
  .poster,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  video {
    @media (hover: none) and (pointer: coarse) {
      display: none;
    }
  }
  .poster {
    display: none;
    @media (hover: none) and (pointer: coarse) {
      display: block;
    }
  }
  .soon {
    position: absolute;
    font-weight: 300;
    color: #e4f9fe;
    font-size: 1.75rem;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    white-space: nowrap;
    bottom: 5vw;
    .letter {
      display: inline-block;
      opacity: 0;
      position: relative;
      letter-spacing: 2rem;
      left: 1rem;
      @include mobile {
        letter-spacing: 1rem;
        left: 0.5rem;
      }
    }
  }
  .scrollContainer {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s linear;
    @media (orientation: portrait) {
      display: none;
    }
    &.hidden {
      opacity: 0;
    }
    .scroll {
      position: relative;
      animation: down 1.5s infinite;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -0.5rem;
        width: 1em;
        height: 1rem;
        border-left: 2px solid #e4f9fe;
        border-bottom: 2px solid #e4f9fe;
        transform: rotate(-45deg);
      }
    }
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
