.title {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 0 0 0.875rem;
}

.line {
  width: 1.5rem;
  margin: 0 0 0.3rem;
}

.subtitle {
  font-weight: bold;
  font-size: 2.1875rem;
  line-height: 1.15;
  margin: 0 0 0.6rem;
}

.description {
  font-weight: 300;
  line-height: 1.375;
  margin: 0;
}

.cta {
  color: #fff;
  background-color: #fe00ae;
  border: none;
  padding: 0.66rem 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8125rem;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  outline: 2px solid transparent;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 1000%;
    background: #08142d;
    z-index: -1;
    transform-origin: 0% 0%;
    transform: translateX(calc(20%)) translateY(10%) rotate(-45deg);
    transition: transform 0.3s;
  }
  &:hover {
    outline: 2px solid #e4f9fe;
    transition: outline 0.2s linear;
  }
  &:hover::after {
    transform: translateY(10%) translateX(-25px) rotate(-45deg);
  }
}

.header {
  box-sizing: border-box;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  .logo {
    width: 200px;
    max-width: 40vw;
  }
  .cta {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    &:after {
      background: #294bca;
    }
  }
}

.welcome {
  margin-top: 100vh;
  text-align: center;
  padding: 5.125rem 1rem 17.375rem;
  background-color: #08142d;
  position: relative;
  z-index: 1;
  .lead {
    font-weight: bold;
    font-size: 1.5625rem;
    line-height: 1.2;
    margin: 2.375rem;
  }
}

.modalWrapper {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
  transition: clip-path 1s cubic-bezier(0.8, 0, 0.2, 1);
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  &.openModal {
    pointer-events: all;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
.modal {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  border: 2rem solid #2a34ff;
  background-color: #e4f9fe;
  text-align: center;
  color: #08142d;
  padding-top: 90px;
  .close {
    position: absolute;
    top: 1.75rem;
    right: 1.75rem;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: none;
    padding: 0;
    background-color: transparent;
    > div {
      position: relative;
    }
    .closeButtonBlock {
      width: 40px;
      height: 20px;
      position: relative;
      overflow: hidden;
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(55% - 4px);
        display: block;
        width: 4px;
        height: 25px;
        transform-origin: bottom center;
        background: #2a34ff;
        transition: all ease-out 280ms;
      }
      &:last-of-type {
        transform: rotate(180deg);
      }
    }
    .in {
      .closeButtonBlock {
        &:before {
          transition-delay: 280ms;
          transform: translateX(20px) translateY(-20px) rotate(45deg);
        }
        &:after {
          transition-delay: 280ms;
          transform: translateX(-22px) translateY(-22px) rotate(-45deg);
        }
      }
    }
    .out {
      position: absolute;
      top: 0;
      left: 0;
      .closeButtonBlock {
        &:before {
          transform: translateX(-5px) translateY(5px) rotate(45deg);
        }
        &:after {
          transform: translateX(5px) translateY(5px) rotate(-45deg);
        }
      }
    }
    &:hover {
      .in {
        .closeButtonBlock {
          &:before {
            transform: translateX(-5px) translateY(5px) rotate(45deg);
          }
          &:after {
            transform: translateX(5px) translateY(5px) rotate(-45deg);
          }
        }
      }
      .out {
        .closeButtonBlock {
          &:before {
            transform: translateX(-20px) translateY(20px) rotate(45deg);
          }
          &:after {
            transform: translateX(20px) translateY(20px) rotate(-45deg);
          }
        }
      }
    }
  }
  .mail {
    margin: 2rem;
    a {
      font-weight: bold;
      font-size: 3rem;
      color: inherit;
      text-decoration: none;
      transition: color 0.2s linear;
      cursor: url('./assets/handarc-01.png'), auto;
      &:hover {
        color: #fe00ae;
        text-decoration: underline;
      }
    }
  }
  .slogan {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
  }
  .footer {
    position: absolute;
    bottom: 90px;
    width: 100%;
  }
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 2.375rem;
  .socialItem {
    padding: 0 12px;
    .socialIcon {
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 3px solid #2a34ff;
      text-align: center;
      box-sizing: border-box;
      border-radius: 50%;
      line-height: 32px;
      text-decoration: none;
      color: #2a34ff;
      &:hover {
        background-color: #2a34ff;
        color: #e4f9fe;
        transition: background-color 0.2s linear, color 0.2s linear;
      }
    }
  }
}
